MINE_CORS_ORIGINS=https://prabhulab.github.io,http://localhost:3000,http://127.0.0.1:3000
MINE_MAX_NODES=1000000
MINE_MAX_EDGES=5000000
MINE_MAX_COMPRESSED_BYTES=33554432
MINE_MAX_DECOMPRESSED_BYTES=201326592
MINE_REQUEST_TIMEOUT_SECONDS=240
